#include <windows.h>
#include "resource.h"

// Icon
IDI_APP_ICON ICON "app.ico"

// Settings Dialog
IDD_SETTINGS DIALOGEX 0, 0, 320, 280
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "DLNA Server Settings"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,263,259,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,209,259,50,14
    PUSHBUTTON      "Restart",IDC_BTN_RESTART,7,259,50,14
    PUSHBUTTON      "View log",IDC_BTN_VIEW_LOG,61,259,50,14

    LTEXT           "Server Name:",IDC_STATIC,7,9,46,8
    EDITTEXT        IDC_EDT_SERVER_NAME,58,7,120,14,ES_AUTOHSCROLL
    
    LTEXT           "HTTP Port:",IDC_STATIC,7,26,46,8
    EDITTEXT        IDC_EDT_PORT,58,24,40,14,ES_AUTOHSCROLL | ES_NUMBER
    
    LTEXT           "File Port:",IDC_STATIC,110,26,46,8
    EDITTEXT        IDC_EDT_FILESERVER_PORT,150,24,40,14,ES_AUTOHSCROLL | ES_NUMBER

    LTEXT           "IP Whitelist:",IDC_STATIC,7,43,46,8
    EDITTEXT        IDC_EDT_IP_WHITELIST,58,41,255,14,ES_AUTOHSCROLL
    
    CONTROL         "Run on Windows Startup",IDC_CHK_RUN_ON_BOOT,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,60,150,10
    CONTROL         "Debug Log (Write to file)",IDC_CHK_DEBUG_LOG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,73,150,10

    CONTROL         "Add Artist/Album folders to audio",IDC_CHK_ADD_ARTIST_ALBUM,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,86,150,10
    CONTROL         "Do not show 'All Media' folders",IDC_CHK_HIDE_ALL_MEDIA,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,99,150,10
    CONTROL         "Flat folders style",IDC_CHK_FLAT_FOLDERS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,112,150,10
    CONTROL         "Show file names instead of titles",IDC_CHK_SHOW_FILE_NAMES,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,125,150,10
    CONTROL         "Sort by title instead of file name",IDC_CHK_SORT_BY_TITLE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,138,150,10
    CONTROL         "Proxy streams",IDC_CHK_PROXY_STREAMS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,151,150,10

    CONTROL         "Show video thumbnails",IDC_CHK_THUMB_VIDEO,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,175,60,130,10
    CONTROL         "Show audio album art",IDC_CHK_THUMB_AUDIO,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,175,73,130,10
    CONTROL         "Show image thumbnails",IDC_CHK_THUMB_IMAGE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,175,86,130,10
    LTEXT           "Thumbnail quality:",IDC_STATIC,175,100,60,8
    COMBOBOX        IDC_CMB_THUMB_QUALITY,235,98,70,30,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    
    LTEXT           "* Server restart needed",IDC_STATIC,7,247,150,8,WS_DISABLED
END

// Log Dialog
IDD_LOG DIALOGEX 0, 0, 400, 300
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "DLNA Server Log"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    EDITTEXT        IDC_EDT_LOG_TEXT,7,7,386,268,ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL
    DEFPUSHBUTTON   "Close",IDOK,343,279,50,14
END
